In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv('D:\\train.csv')
data.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [2]:
data.drop(['belongs_to_collection','homepage'], axis=1, inplace=True)

In [3]:
data['id_geners'] = data['genres'].str.split(',', expand=True)[0]
data['genres_Nam'] = data['genres'].str.split(',', expand=True)[1]
data['genres_ID'] = data['id_geners'].str.split(':', expand=True)[1]
data['genres_Name'] = data['genres_Nam'].str.split(':', expand=True)[1]
#data['genres_Id'] = data['genres'].str.split(',', expand=True)[0]

data['genres_Name'] = data['genres_Name'].str.replace('}', '')
data['genres_Name'] = data['genres_Name'].str.replace(']', '')
data.drop(['genres_Nam','id_geners','genres'], axis=1, inplace=True)

data['genres_Name'] = data['genres_Name'].str.replace(']', '')
data.head()

C:\Users\moham\AppData\Local\Temp/ipykernel_6220/1966665966.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['genres_Name'] = data['genres_Name'].str.replace('}', '')
C:\Users\moham\AppData\Local\Temp/ipykernel_6220/1966665966.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['genres_Name'] = data['genres_Name'].str.replace(']', '')

,id,budget,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,genres_ID,genres_Name
0,1,14000000,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,35,'Comedy'
1,2,40000000,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,35,'Comedy'
2,3,3300000,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,18,'Drama'
3,4,1200000,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,53,'Thriller'
4,5,0,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,28,'Action'

In [4]:
data['Day'] = data['release_date'].str.split('/', expand=True).replace(np.nan,-1)[0]
data['Month'] = data['release_date'].str.split('/', expand=True).replace(np.nan,-1)[1]
data['Year'] = data['release_date'].str.split('/', expand=True).replace(np.nan,-1)[2]
data['Day'] = data['Day'].astype(int)
data['Month'] = data['Month'].astype(int)
data['Year'] = data['Year'].astype(int)
data.drop(['release_date','tagline','Keywords'] ,axis=1 ,inplace=True)
data.head()

,id,budget,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,runtime,...,status,title,cast,crew,revenue,genres_ID,genres_Name,Day,Month,Year
0,1,14000000,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",93.0,...,Released,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,35,'Comedy',2,20,15
1,2,40000000,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",113.0,...,Released,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,35,'Comedy',8,6,4
2,3,3300000,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",105.0,...,Released,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,18,'Drama',10,10,14
3,4,1200000,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",122.0,...,Released,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,53,'Thriller',3,9,12
4,5,0,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",118.0,...,Released,Marine Boy,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,28,'Action',2,5,9

In [5]:
from sklearn.preprocessing import LabelEncoder
def Feature_Encoder(data,cols):
    for c in cols:
        lbl = LabelEncoder()
        lbl.fit(list(data[c].values))
        data[c] = lbl.transform(list(data[c].values))
    return data
cols={'original_language','genres_Name','original_title','overview','poster_path','title'}
data=Feature_Encoder(data,cols)
data.head()

,id,budget,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,runtime,...,status,title,cast,crew,revenue,genres_ID,genres_Name,Day,Month,Year
0,1,14000000,7,1003,2778,6.575393,2443,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",93.0,...,Released,1045,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,35,3,2,20,15
1,2,40000000,7,2429,1865,8.248895,2666,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",113.0,...,Released,2546,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,35,3,8,6,4
2,3,3300000,7,2751,2700,64.299990,1766,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",105.0,...,Released,2903,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,18,6,10,10,14
3,4,1200000,13,1138,2729,3.174936,843,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",122.0,...,Released,1183,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,53,17,3,9,12
4,5,0,18,2957,1832,1.148070,1827,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",118.0,...,Released,1371,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,28,0,2,5,9

In [6]:
# Converting nominal data to numberical data 
data[['status','tagline', 
      'original_language', 
      'production_companies', 
      'production_countries']] =data[['status', 
               'original_language', 
               'production_companies',
               'production_countries']].astype('category')

data['status'] = data['status'].cat.codes
data['original_language'] = data['original_language'].cat.codes
data['production_companies'] = data['production_companies'].cat.codes
data['production_countries'] = data['production_countries'].cat.codes
data.head()

ValueError: Columns must be same length as key

In [ ]:
def get_dictionary(s):
    try:
        d = eval(s)
    except:
        d = {}
    return d

data.spoken_languages = data.spoken_languages.map(lambda x: sorted([d['name'] for d in get_dictionary(x)])).map(lambda x: ','.join(map(str, x)))
data.cast = data.cast.map(lambda x: sorted([d['name'] for d in get_dictionary(x)])).map(lambda x: ','.join(map(str, x)))
data.crew = data.crew.map(lambda x: sorted([d['name'] for d in get_dictionary(x)])).map(lambda x: ','.join(map(str, x)))

data['spoken_languages_count'] = data['spoken_languages'].str.count(',') + 1
data['cast_count'] = data['cast'].str.count(',') + 1
data['crew_count'] = data['crew'].str.count(',') + 1
data.head()

In [ ]:

data['runtime']=data['runtime'].fillna(data['runtime'].mean())

In [7]:
data.isnull().sum()

id                        0
budget                    0
original_language         0
original_title            0
overview                  0
popularity                0
poster_path               0
production_companies    156
production_countries     55
runtime                   2
spoken_languages         20
status                    0
title                     0
cast                     13
crew                     16
revenue                   0
genres_ID                 7
genres_Name               0
Day                       0
Month                     0
Year                      0
dtype: int64